# Notebook dependencies
pandas 
numpy
shapely # también podés instalar una versión específica si es que querés (shapely==1.7.0)
fiona 
pyproj
rtree
geopandas
descartes
geocoder
seaborn
matplotlib
mplleaflet
